* {
    font-family: "Noto Sans";
}

body {
    margin: 0;
    background-color: #f8f9fa;
}

body > div, body > header, body > main, body > footer {
    background-color: white;
    max-width: 1500px;
    margin: 0 auto;
    padding: 16px 50px;
}

@media (max-width: 1000px) {
    body > div, body > header, body > main, body > footer {
        padding: 16px 24px;
    }
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

form * {
    display: block;
}

form > div {
    margin-bottom: 15px;
}

form label {
    margin-bottom: 8px;
}

form input[type="text"], form input[type="password"] {
    background-color: white;
    padding: 6px 8px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

form input[type="submit"] {
    margin-top: 30px;
}

button, input[type="submit"] {
    font-size: 0.9em;
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 6px 16px;
    transition: background-color 100ms, border-color 100ms;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #f5f5f5;
    border-color: #777;
}

#toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 6px;
}

#toolbar * {
    font-size: inherit;
}

#toolbar h1 {
    margin-right: auto;
}

@media (min-width: 650px) {
    .notitle #toolbar h1 {
        font-size: 32px;
    }
}

#toolbar h1 a {
    color: inherit;
    text-decoration: none;
}

#toolbar form input[type="submit"], #toolbar a {
    color: inherit;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

#toolbar form input[type="submit"]:hover, #toolbar a:hover {
    text-decoration: none;
    cursor: pointer;
}

header h2 {
    font-size: 32px;
}

.notitle #title {
    display: none;
}

#status {
    background-color: #eee;
    border: 1px solid #e88;
    border-radius: 2px;
    padding: 15px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto min-content;
    gap: 15px;
}

#status.inactive {
    display: none;
}

#status button {
    display: block;
    background-color: #f3f3f3;
    padding: 6px 16px;
    margin: -6px 0;
}

#status button:hover {
    background-color: #f8f8f8;
}

#details {
    display: block;
    margin: 0 0 16px auto;
    width: max-content;
    user-select: none;
}

#details summary {
    cursor: pointer;
}

#details ul {
    position: absolute;
    margin-top: 8px;
    border-radius: 4px;
    padding: 0;
    list-style: none;
    border: 1px solid #999;
    border-bottom: none;
}

#details button {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #999;
}

#details li:first-child button {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#details li:last-child button {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
