* {
    font-family: "Noto Sans";
}

body {
    margin: 0;
    background-color: #f8f9fa;
}

body > div, body > header, body > main, body > footer {
    background-color: white;
    max-width: 1500px;
    margin: 0 auto;
    padding: 16px 50px;
}

@media (max-width: 1000px) {
    body > div, body > header, body > main, body > footer {
        padding: 16px 24px;
    }
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

form * {
    display: block;
}

form > div {
    margin-bottom: 15px;
}

form label {
    margin-bottom: 8px;
}

form input[type="text"], form input[type="password"] {
    background-color: white;
    padding: 6px 8px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

form input[type="submit"] {
    font-size: 0.9em;
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 2px;
    margin-top: 30px;
    padding: 6px 16px;
}

#toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 6px;
}

#toolbar * {
    font-size: inherit;
}

#toolbar h1 {
    margin-right: auto;
}

@media (min-width: 650px) {
    .notitle #toolbar h1 {
        font-size: 32px;
    }
}

#toolbar a {
    color: inherit;
    text-decoration: none;
}

#toolbar form input[type="submit"] {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

#toolbar form input[type="submit"]:hover {
    text-decoration: none;
    cursor: pointer;
}

header h2 {
    font-size: 32px;
}

.notitle #title {
    display: none;
}
